@charset "UTF-8";
/*
Project Name: Roto-transitions Concept
Version: 1.0
Author: Abdellatif Ahammad 
Author URI:
Description:
*/
/*  Google fonts  : Poppins , Playfair  */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*=================================================================*/
/*                      BASE                              
/*=================================================================*/

:root {
  --primary-bg-color: #F25050;
  --primary-text-color: #050511;
  --body-bg-color: #FFFFFF;
  --bg-warning: #FEB12E;
  --bg-success: #20BF43;
  --bg-danger: #F25050;
  --button-bg-color: #F25050;
}



* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0 !important;
  overflow: auto !important;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg-color);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
  align-items: center;
}


li {
  list-style: none;
}

/*=================================================================*/
/*                      TYPOGRAPHY                              
/*=================================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 20px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
}

blockquote {
  padding: 20px 20px;
  margin: 0 0 20px;
  font-size: 16px;
  background: #F7F7F7;
  border-radius: 10px;
}

blockquote p {
  line-height: 1.6;
}

p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  color: #3e3e46;
  line-height: 30px;
}


/*=================================================================*/
/*                      PRELOADER                              
/*=================================================================*/



/*=================================================================*/
/*                      HEADER                              
/*=================================================================*/


/*=================================================================*/
/*                      FOOTER                          
/*=================================================================*/

footer {
  margin: 50px 0px 10px 0px;
  text-align: center;
}

/*=================================================================*/
/*                      DARK MODE                              
/*=================================================================*/
body.dark {
  color: #FFF;
  background-color: #12121f;
}

body.dark .section-title {
  color: #FFF;
}


body.dark .bg-dark {
  background: #302f4e !important;
}

.dark .mouse {
  border-color: white;
}

.dark .mouse-dot {
  background-color: white;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #FFF;
}


body.dark a {
  color: white;
}


.dark p {
  color: #b3b3b3;
}

/*=================================================================*/
/*                     BUTTONS
/*=================================================================*/

.btn {
  border-style: none;
  background-color: var(--button-bg-color);
  color: white;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  width: fit-content;
}


.switch-btn {
  display: grid;
  place-items: center;
  background: #CBD764;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  z-index: 15;
  bottom: 20px;
  right: 20px;
}


.switch-btn-circle:before{
  content: "";
  position: absolute;
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.39);
  border: 1px solid white;
  z-index: -10;
  scale: 0;
  opacity: 1;
  top: calc(-25px-10px);
  animation: growing-circle 500ms ease-in-out alternate;
}

/*=================================================================*/
/*                      ANIMATIONS                            
/*=================================================================*/


img {
  scale: 1.1;
}


#slice-1 .zoomed-in {
  animation: 1300ms ease-in-out zoom-effect;
}

#slice-1 .disappear-out {
  opacity: 0;
  animation: 900ms ease-in-out 0ms 1 normal none running disappear-out;
}

#slice-2 .zoomed-in {
  animation: 1200ms ease-in-out 0ms 1 normal none running zoom-effect;
}

#slice-2 .disappear-out {
  opacity: 0;
  animation: 800ms ease-in-out 0ms 1 normal none running disappear-out;
}

#slice-3 .zoomed-in {
  animation: 1100ms ease-in-out 0ms 1 normal none running zoom-effect;
}

#slice-3 .disappear-out {
  opacity: 0;
  animation: 700ms ease-in-out 0ms 1 normal none running disappear-out;
}


@keyframes zoom-effect {
  0% {
    scale: 5;
    rotate: 0deg;
  }

  100% {
    scale: 1.1;
    rotate: 360deg;
  }
}

@keyframes disappear-out {
  0% {
    scale: 1.1;
    rotate: 0deg;
    opacity: 1;
  }

  100% {
    rotate: 360deg;
    opacity: 0;
    scale: 5;
  }
}


@keyframes growing-circle {
  to{
    scale: 1;
    opacity: 0.8;
    background: transparent;
  }
}




/*=================================================================*/
/*                      RESPONSIVE SETTINGS
/*=================================================================*/
/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}